@mixin typewriter {
  font-family: "Anonymous Pro", monospace;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  border-right: solid $color_text 0.2rem;
  animation: typing 2s, cursor 0.5s step-end infinite alternate;
}
