.contact {
  width: 100%;
  background-color: $color_primary;
  &-titles {
    &__title {
      @include typewriter;
    }
  }
  &-container {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    &__image {
      &-img {
        width: 20rem;
        border-radius: 100%;
      }
      &-subtitle {
        font-size: 1.75rem;
        font-weight: bold;
      }
    }
    &__social {
      &-footer {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
}
.show {
  opacity: 1;
}
@media (min-width: 768px) {
  .contact {
    &-titles {
      &__title {
        font-size: 3rem;
      }
    }
    &-container {
      &__image {
        &-img {
          width: 25rem;
        }
        &-subtitle {
          font-size: 2rem;
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .contact {
    &-container {
      width: 75% !important;
      flex-direction: row !important;
      justify-content: space-around !important;
      align-items: center !important;
    }
  }
}
