.home {
  width: 100%;
  background-color: $color_primary;
  &-image {
    opacity: 0;
    transition: all 0.4s ease-in-out;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 100%;
  }
  &-titles {
    &__title {
      color: $color_text;
      @include typewriter;
    }
    &__subtitle {
      opacity: 0;
      color: $color_text;
      transition: all 0.4s ease-in-out;
      font-size: 1.5rem;
      font-style: italic;
      text-align: center;
    }
  }
  &-description {
    opacity: 0;
    color: $color_text;
    transition: all 0.4s ease-in-out;
    font-size: 1.75rem;
    letter-spacing: 1px;
    text-align: center;
  }
}
.show {
  opacity: 1;
}
