.home {
  width: 100%;
  background-color: $color_primary;
  &-image {
    opacity: 0;
    transition: all 0.4s ease-in-out;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 100%;
  }
  &-titles {
    &__title {
      font-family: "Anonymous Pro", monospace;
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 2px;
      border-right: solid black 2px;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      animation: typing 2s steps(15), cursor 0.5s step-end infinite alternate;
    }
    &__subtitle {
      opacity: 0;
      transition: all 0.4s ease-in-out;
      font-size: 1.5rem;
      font-style: italic;
      text-align: center;
    }
  }
  &-description {
    opacity: 0;
    transition: all 0.4s ease-in-out;
    font-size: 1.75rem;
    letter-spacing: 1px;
    text-align: center;
  }
}
.show {
  opacity: 1;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
