.home {
  width: 100%;
  background-color: $color_primary;
  &-image {
    opacity: 0;
    transition: all 0.4s ease-in-out;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 100%;
  }
  &-titles {
    &__title {
      color: $color_text;
      @include typewriter;
    }
    &__subtitle {
      width: 20rem;
      opacity: 0;
      color: $color_text;
      transition: all 0.4s ease-in-out;
      font-size: 1.5rem;
      font-style: italic;
      text-align: center;
    }
  }
  &-description {
    width: 80%;
    opacity: 0;
    color: $color_text;
    transition: all 0.4s ease-in-out;
    font-size: 1.75rem;
    letter-spacing: 1px;
    text-align: center;
    padding: 2rem;
    border: solid $color_secundary 2px;
    border-radius: 10px;
  }
}
.show {
  opacity: 1;
}
@media (min-width: 768px) {
  .home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-image {
      width: 20rem;
      height: 20rem;
    }
    &-titles {
      &__title {
        font-size: 3rem;
      }
      &__subtitle {
        width: 100%;
        font-size: 2rem;
      }
    }
    &-description {
      width: 75%;
      font-size: 2rem;
    }
  }
}
