.contact {
  &-container {
    &__social {
      &-item {
        &__icon {
          font-size: 2rem;
          color: $color_text;
        }
        &__title {
          font-size: 1.25rem;
          color: $color_text;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .contact {
    &-container {
      &__social {
        &-item {
          &__icon {
            font-size: 2.5rem;
          }
          &__title {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
@media (min-width: 1024px) {
}
