.skills {
  width: 100%;
  background-color: $color_primary;
  &-titles {
    &__title {
      color: $color_text;
      @include typewriter;
    }
  }
  &-container {
    transition: all 0.4s ease-in-out;
    opacity: 0;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
}
.show {
  opacity: 1;
}
@media (min-width: 768px) {
  .skills {
    &-titles {
      &__title {
        font-size: 3rem;
      }
    }
  }
}
