.skills {
  width: 100%;
  background-color: $color_primary;
  &-title {
    color: $color_text;
    @include typewriter;
  }
  &-container {
    transition: all 0.4s ease-in-out;
    opacity: 0;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
}
.show {
  opacity: 1;
}
