.skills {
  &-container {
    &__item {
      &-name {
        font-size: 1.5rem;
        font-weight: bold;
        background-color: $color_text;
        color: $color_primary;
        padding: 0.5rem 1rem;
      }
      &-icon {
        font-size: 4rem;
        color: $color_text;
      }
    }
  }
}
@media (min-width: 768px) {
  .skills {
    &-container {
      &__item {
        justify-content: space-around !important;
        &-name {
          font-size: 2rem;
          width: 18rem;
          text-align: center;
        }
        &-icon {
          font-size: 5rem;
        }
      }
    }
  }
}
