.navigator {
  transition: all 0.4s ease-in-out;
  height: 100vh;
  position: fixed;
  background-color: $color_secundary;
  &-perfil {
    &__img {
      width: 6rem;
      height: 6rem;
      border-radius: 100%;
      object-fit: cover;
    }
    &__title {
      font-size: 1.5rem;
      font-weight: bold;
      color: $color_text;
    }
  }
  &-navbar {
    &__nav {
      list-style: none;
      li {
        a {
          text-decoration: none;
          color: $color_text;
          font-size: 2rem;
        }
      }
    }
  }
  &-config {
    flex-grow: 1;
    &__language {
      &-value {
        font-size: 1.5rem;
      }
    }
  }
}
.hidden {
  transition: all 0.4s ease-in-out;
  transform: translateX(-100%);
}
